.experienceImg{
    border-radius: 50%;
    overflow: hidden;
}

#work{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    color: var(--color-primary);
    text-align: center;
    font-size: 2rem;
}

.vertical-timeline-element-title {
    font-family: var(--font-heading) !important;
    font-weight: 700 !important;
}

.vertical-timeline-element-subtitle {
    font-family: var(--font-heading) !important;
    font-weight: 600 !important;
}

.vertical-timeline-element-content ul,
.vertical-timeline-element-content li {
    font-weight: 400 !important;
}
